__pycache__
/build/
/dist/
/MANIFEST
/change_author.sh
/mymailmap
/*.shar
/example/gitea/x
.pytest_cache/
.coverage
/scripts/jail
/scripts/focker-bsdinstall.not-needed
*.egg-info
/focker.dist
/focker.build
/focker2/focker/jailconf/*.c
/focker2/focker/jailconf/*.h

