{{if not .IsSigned}}
  <div class="ui positive message" style="margin: 1em;">
    IF YOU WOULD LIKE TO GET AN ACCOUNT, please write an
    email to s dot adaszewski at gmail dot com. User accounts
    are only meant to report issues and/or generate pull requests.
    This is a purpose-specific Git hosting for
    <a href="https://adared.ch" target="_blank">ADARED</a>
    projects.
  </div>
{{end}}
