{{if not .IsSigned}}
  <div class="ui positive message" style="margin: 1em;">
    Please write an email to s dot adaszewski at gmail dot com
    if you would like to get an account. User accounts are only
    allowed to report issues and/or make forks in order to
    generate pull requests. This is a purpose-specific Git hosting
    for <a href="https://adared.ch" target="_blank">ADARED</a>
    projects.
  </div>
{{end}}
